name: Lint PR

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

env:
  TURBO_TELEMETRY_DISABLED: 1
  DO_NOT_TRACK: 1

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-slim
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
